@import 'tailwindcss';

@import "tw-animate-css";

@import "../fonts/fonts.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-poppins: poppins;
    --font-hitmo: hitmo;

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-poppins;
    }
}

.table{
    & thead{
        @apply dark:bg-gray-300 dark:text-gray-800 bg-slate-950 text-gray-200 capitalize;
    }
    & tbody{
        @apply dark:bg-gray-200 dark:text-gray-900 text-center bg-slate-900 text-white rounded-bl-lg;
    }
    & th, td{
        @apply py-3 px-4;
    }
    & th:last-child{
        @apply rounded-tr-lg;
    }
    & th:nth-child(1){
        @apply rounded-tl-lg;
    }
    /* td:first-child{
        @apply rounded-bl-lg
    } */
    /* td:last-child{
        @apply rounded-br-lg
    } */
    @apply mt-4 w-full;
}

.tabel{
    @apply min-w-full border text-sm rounded-lg;
}
.tabel thead{
    @apply bg-slate-200 dark:bg-neutral-950 text-left;
}
.tabel tbody{
    @apply bg-slate-50 dark:bg-neutral-900;
}
.tabel tbody tr {
    @apply dark:hover:bg-neutral-800 hover:bg-slate-100 duration-200;
}
.tabel th, td{
    @apply px-4 py-2.5;
}
.tabel th{
    @apply font-semibold;
}

.table-wrapper{
    scrollbar-width: none;
}
.table-wrapper:hover{
    scrollbar-width: thin;
}

.form input {
    @apply w-full py-2 px-3 rounded-md border-border border-1 ring-0 focus:ring-0 focus:outline-1 text-sm;
}

.input-create{
    @apply w-full py-2 px-3 rounded-md border-border border-1 ring-0 focus:ring-0 focus:outline-1 focus:outline-gray-300 text-sm;
}
.input-select{
    @apply bg-background dark:text-neutral-300 cursor-pointer w-full py-2 px-3 rounded-md border-border border-1 ring-0 focus:ring-0 focus:outline-1 focus:outline-gray-300 text-sm
}
.view-icon{
    @apply cursor-pointer rounded-md bg-slate-200 p-1 hover:bg-slate-300 dark:bg-slate-800 hover:dark:bg-slate-700 duration-200;
}

.dashboard-info{
    @apply grid auto-rows-min lg:gap-5 sm:gap-4 gap-3 max-[400px]:gap-5 rounded-lg lg:p-7 p-3 shadow-xl dark:shadow-slate-950 shadow-slate-400 lg:grid-cols-5 min-[501px]:grid-cols-3 min-[400px]:grid-cols-4 max-[400px]:p-7 grid-cols-1 dark:bg-slate-900 bg-slate-50 dark:text-neutral-100 border-t;
}
.link{
    @apply flex flex-col items-center justify-center rounded-md dark:bg-slate-800 bg-slate-100 px-5 py-4 shadow-lg dark:shadow-slate-950 border border-border dark:hover:bg-blue-950 hover:bg-blue-100 duration-300 hover:scale-[102%] max-[500px]:col-span-2;
}
.link .p-tag{
    @apply pt-1.5 text-center md:text-sm text-xs text-muted-foreground;
}


.btn-edit{
    @apply size-8 cursor-pointer rounded-md bg-green-300 p-1 text-gray-800 pointer-events-auto duration-200 hover:bg-green-400;
}
.btn-show{
    @apply size-8 cursor-pointer rounded-md bg-slate-200 p-1 hover:bg-slate-300 dark:bg-slate-700 hover:dark:bg-slate-600 duration-200 pointer-events-auto
}
.btn-delete{
    @apply size-8 cursor-pointer rounded-md bg-red-600 p-1 text-gray-100 duration-200 hover:bg-red-700 pointer-events-auto;
}


